<div class="bg-gray-900 text-white">
  <div class="container mx-auto mt-32">
    <footer class="flex flex-wrap items-center justify-between p-4">
      <div class="w-full lg:w-auto lg:mr-6 mb-4 lg:mb-0 text-center">&copy; 2020 built with <a target="_blank" class="text-blue-100 hover:text-blue-200" href="https://github.com/definitely246/turtles-base">turtles.cc</a></div>
      <div class="flex flex-col lg:flex-row items-center w-full lg:w-auto">
        <div class="mx-auto lg:mx-0 lg:ml-auto"><a class="inline-block mt-0 text-blue-100 hover:text-blue-200" href="/posts">Blog</a></div>
      </div>
    </footer>
  </div>
</div>

<script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script>tippy('.tippy',{ placement: 'bottom' })</script>
